VideoLibrary/bin/Debug/Database1.mdf
VideoLibrary/bin/Debug/ffmpeg.exe
VideoLibrary/bin/Debug/NReco.VideoConverter.xml
VideoLibrary/bin/Debug/VideoLibrary.exe
VideoLibrary/bin/Debug/VideoLibrary.pdb
VideoLibrary/bin/Debug/VideoLibrary.vshost.exe
VideoLibrary/bin/Debug/VideoLibrary.exe.config
VideoLibrary/bin/Debug/VideoLibrary.vshost.exe.config
VideoLibrary/bin/Debug/VideoLibrary.vshost.exe.manifest
VideoLibrary/Database1.mdf
VideoLibrary/obj/Debug/DesignTimeResolveAssemblyReferences.cache
VideoLibrary/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
VideoLibrary/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
VideoLibrary/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
VideoLibrary/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
VideoLibrary/obj/Debug/VideoLibrary.ChangeGenreForm.resources
VideoLibrary/obj/Debug/VideoLibrary.csproj.FileListAbsolute.txt
VideoLibrary/obj/Debug/VideoLibrary.csproj.GenerateResource.Cache
VideoLibrary/obj/Debug/VideoLibrary.csproj.ResolveComReference.cache
VideoLibrary/obj/Debug/VideoLibrary.csprojResolveAssemblyReference.cache
VideoLibrary/obj/Debug/VideoLibrary.DeleteGenreForm.resources
VideoLibrary/obj/Debug/VideoLibrary.exe
VideoLibrary/obj/Debug/VideoLibrary.Form1.resources
VideoLibrary/obj/Debug/VideoLibrary.MovieEdit.resources
VideoLibrary/obj/Debug/VideoLibrary.NewGenreForm.resources
VideoLibrary/obj/Debug/VideoLibrary.pdb
VideoLibrary/obj/Debug/VideoLibrary.Properties.Resources.resources
VideoLibrary/obj/Debug/VideoLibrary.TagsForm.resources
VideoLibrary/bin/Debug/AxInterop.WMPLib.dll
VideoLibrary/bin/Debug/Database1_log.ldf
VideoLibrary/bin/Debug/Interop.WMPLib.dll
VideoLibrary/bin/Debug/NReco.VideoConverter.dll
VideoLibrary/obj/Debug/TempPE/Database1DataSet.Designer.cs.dll
VideoLibrary/obj/Debug/TempPE/Database1DataSet.Designer.cs.dll
VideoLibrary/obj/Debug/TempPE/Database1DataSet.Designer.cs.dll
VideoLibrary/obj/Debug/TempPE/Database1DataSet.Designer.cs.dll
.vs/VideoLibrary/v15/sqlite3/storage.ide
*.ide
*.ide
*.ide
VideoLibrary/Database1_log.ldf